@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

#pantalla-dividida{
    display: flex;
}

.izquierda{
    background: #F28F38 ;
    width: 50% ;
    height:100vh;
}

.derecha{
    background: url(https://i.ibb.co/wJtwNSF/undraw-predictive-analytics-kf9n.png);
    background-size: cover;
    background-position: center;
    width: 50% ;
    height:100vh;
}

.fichas{
  width: 100% ;
  height:100vh;
}


#quienes-somos{
    display: flex;
}

h1{
    margin-top: 20%;
    font-size: 50px;
    width: 50% ;
    margin:auto
}

.parrafo{
    font-size: 19px;
    line-height: 30px;
    width: 50% ;
    margin:auto
}
.header .navbar {
    background-color: transparent !important;
    color: #262626 !important;
  }

/*   #productos{
    background: url(/img/red-neuronal.png);
    background-size: cover;
    background-position: center;
  } */

  .productos{
    margin: auto;
    padding: 10px 20px 20px;
  }

@media screen and (max-width: 900px) {
h1{
    margin-top: 20%;
    font-size: 20px;
    width: 70% ;
    
}

.parrafo{
    font-size: 19px;
    line-height: 20px;
    width: 70% ;

}
}


@media screen and (max-width: 700px) {
.bt-modals{
  margin-left: 3rem !important;

}

    #pantalla-dividida{
        position: relative;
    }
    .izquierda{
        background: transparent !important ;
        width: 100% ;
        height:100vh;
        position: absolute;
        z-index: 3;
    }   
    .derecha{
        background: url(/img/undraw_predictive_analytics_kf9n.png);
        background-size: cover;
        background-position: center;
        width: 100% ;
        height:70vh;
        position: absolute;
        z-index: 1;
    }
    .titulo1{
      font-size: 30px;
      color: #D97C2B;
      text-align: center;
    }
    .parrafo{
      font-size: 15px;
      text-align: center;
      margin:auto;
      color: #e4934c;
  }

  #quienes-somos{
    position: relative;
}
  .fichas{
    width: 100% ;
    height:auto;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 30rem 1em 8rem auto;
  }

.pYs{
  height: 150px;  
  display:block;
  margin:auto;
}


#como-hacemos{
  position: relative;
}
.who{
  background-color: #D97C2B; 
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}
}

@media screen and (max-width: 450px) {
 h1 {
    font-size: 60px;
}
}

@media screen and (max-width: 340px) {
 h1 {
    font-size: 35px;
}

}

.about-us{
    background-color: white;
    box-shadow: 5px 5px 100px 5px  #D97C2B;
    height: 50%;
    float:left;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: auto;
    border: 2px solid #D97C2B;
    border-radius: 15px;
    padding: 10px 20px 20px;

}

/* footer */



footer{
  
  background: #262626;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
 .content  .logo-details{
  color: #fff;
  font-size: 30px;
}

.content .media-icons{
  display: flex;
}

.content  .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
} 

 .media-icons a:nth-child(1){
  background: #4267B2;
}
 .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}

 .media-icons a:nth-child(2){
  background: #E1306C;
}
 .media-icons a:nth-child(2):hover{
  color: #E1306C;
  background: #fff;
}
 .media-icons a:nth-child(3){
  background: #0077B5;
}
 .media-icons a:nth-child(3):hover{
  color: #0077B5;
  background: #fff;
}
 .media-icons a:nth-child(4){
  background: #25D366;
}
 .media-icons a:nth-child(4):hover{
  color: #25D366;
  background: #fff;
}
 .media-icons a:nth-child(5){
  background: #d32525;
}
 .media-icons a:nth-child(5):hover{
  color: #d32525;
  background: #fff;
}



footer .bottom-details{
  width: 100%;
  border-top: 1px solid #D97C2B;
  background: #262626;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: center
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}

@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
  .about-us{
    background-color: white;
    box-shadow: 2px 5px 80px 5px  #D97C2B;
    height:auto;    
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 25px 15px 5px auto;
    border: 2px solid #D97C2B;
    border-radius: 15px;
    padding: 10px 20px 20px;
  }
  
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }

}

/* que hacemos */
.pYs{
  height: 150px;  
}
.section-3{
  border: 2px solid #D97C2B;
  border-radius: 15px;
  padding: 15px 10% 15px 10%;
  margin-top: 30px ;

}

#como-hacemos{
  display: flex;
  
}
.who{
  background-color: #D97C2B; 
  width: 100%;
  height: auto;
  float: left;
  padding: 15px 10% 15px 10%;
}

/* seccion de empleados*/

/* #sectiones{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right:auto ;
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #D97C2B;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #D97C2B;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover{
  opacity: 1;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}

.swiper-pagination{
  position: absolute;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #D97C2B;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #D97C2B;
}
 */



#subir__arriba{
  width: 50px;
  height: 50px;
  background: rgba(10, 10, 10, 0.418);;
  border-radius: 50%;
  color: white;
  display: flex;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  display: none;
  z-index: 1;
}

